/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}

/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}

/*==Style cho menu===*/
 #menubar{
  width: 100%;
  position: fixed;
  background: #17a2b8;
  margin: 0;
  padding: 0;
}
#menu{
	width: 80%;
	margin: 0;
	padding: 0;
}
#menu ul {
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.fixed{
  position: fixed;
  z-index: 10000;
  top: 0px;
}

/*検索タブ*/
.logo{
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1000;
}

#searchbar{
  position: absolute;
  width: 20%;
  right: 0px;
  top : 0;
}

#actorID{
  float: left;
  width: 70%;
  margin-right: 5px;
}

#bttSearch{
  width: auto;
}
/* ログインフォーム */
#loginfrom img{
  max-width: 100%;
  margin: 0;
  padding: 0;
/*   vertical-align: bottom;
  transition: .3s; */
  float: left;
  clear: both;
}
img[Attributes Style] {
    width: 127px;
}
.common{
  display: none;
}

/* Css of Select Number of Rows */
.pagination {
  display: inline-block;
}
.pagination li{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.active {
  background-color: #4CAF50;
  color: white;
}

/*access.js css style*/
td.notID{
  width: 100%;
  text-align: center;
}

#projectinfo tbody tr td a{
   text-decoration: none;
   color : #000;
}
/* Projec page */
.head-title{
    height: 17px;
    border-left: 4px solid #17a2b8;
    padding-left: 10px;
    font-size: 15px;
     display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.project-title-lg{
   margin: 10px;
}
#project-title{
    margin: 40px;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.4;
}
.projectinfo{
  margin: 10px;
}
.projectinfo table tbody tr th{
  text-align: inherit;
    font-weight: normal;
    font-size: 15px;
    padding: 5px 5px;
    vertical-align: sub;
    color: #5c5c5c;
}

.projectinfo table tbody tr td span{
  margin-left: 20px;
  font-size: 15px;
}
.apply, .information-footer{
  padding: 5px 20px;
  width: auto;
}